.class-container {
  width: 99.4vw;
  height: 100%;
  background-color: #252424;
}
.class-cards {
  width: 100vw;
  height: 100%;
  /* border: 4px solid #8b0000; */
  background-color: #252424;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}
#classes {
  margin-top: 2%;
  text-align: center;
  font-family: fantasy;
  font-size: 60px;
  color: rgb(209, 178, 178);
}
