#class-level-container{
    background-image: url("https://wallpapercave.com/wp/Hk2qQpV.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	overflow:scroll;
    height: calc(100% - 72px);
}
.class-level-name{
    font-family: fantasy;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    opacity: 80%;
    background-color: #587e80;
    color: rgb(209, 178, 178); 
}
#class-level-card{
    background-color: #587e80;
    opacity: 80%;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
}
#indiv-feature-choice{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
#indiv-feature-name{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 20px;
}
#spellcasting-flex{
    display:inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    margin-left: 2vw;
    gap: 20px;
}
#spellcasting-flex h3{
    margin-left: 1vw;
}