#equipment {
	border: 4px solid #8b0000;
	width: 40vw;
	float: left;
	border-radius: 20px;
	margin: 4vw;
	text-align: center;
	font-family: fantasy;
	font-size: 25px;
	background-color: #8b0000;
	opacity: 80%;
}
#equipment h1 {
	text-decoration: none;
	color: rgb(209, 178, 178);
}
body {
	background-color: #252424;
}
.all-equipment-container {
	width: 100vw;
	height: 100%;
	background-image: url("https://i.pinimg.com/originals/0e/99/aa/0e99aa6e85d044646447622e0ae93e80.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: scroll;
	height: calc(100% - 72px);
}
.all-equipment-container h1 {
	margin-top: 2%;
	font-size: 60px;
	color: #8b0000;
	background-color: #587e80;
	opacity: 80%;
	font-family: fantasy;
	font-weight: 100;
	text-align: center;
}
.all-equipment-card {
	width: 100vw;
	height: 100%;
	margin-top: 2%;
	display: inline-flex;
	font-size: 30px;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
}

#all-equipment {
	padding: 40px 0;
	width: 255px;
	margin: 2%;
	border-radius: 20px;
	background-color: #587e80;
	opacity: 80%;
	text-align: center;
}
#all-equipment h3 {
	text-decoration: none;
	color: #8b0000;
	text-underline-position: unset;
	font-family: fantasy;
}
