html,
body {
  margin: 0;
  padding: 0;
}
.homepage {
  background: url('https://wallpapercave.com/wp/wp2227193.jpg');
  height: 91vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-page-logo {
  width: 1300px;
  margin-right: auto;
  position: absolute;
}
.homepage button {
  background-color: #cd0000;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(209, 178, 178);
  font-family: fantasy;
  font-size: 1.3rem;
  margin-top: 30%;
  margin-left: 5vw;
  outline: none;
  cursor: pointer;
}
