/* ultra debug mode css */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html,
body {
  margin: 0;
  padding: 0;
}

/* BELOW CODE FIXES DIVS NOT BEING 100% OF THE HEIGHT OF THE SCREEN WITHOUT NEEDING TO USE HEIGHT: 100vh AS THIS BREAKS THINGS*/
html,
body,
#root,
.App {
  height: 100%;
}

.homepage {
  margin: 0;
  padding: 0;
  background: url('https://wallpapercave.com/wp/wp2227193.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 92.2%;
}
.home-page-logo {
  width: 1300px;
  margin-right: auto;
  position: absolute;
}
.homepage button {
  background-color: #cd0000;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(209, 178, 178);
  font-family: fantasy;
  font-size: 1.3rem;
  margin-top: 30%;
  margin-left: 5vw;
  outline: none;
  cursor: pointer;
}

.maybe-fix-2 {
  /* height: 700px; */
  /* height: 100%; */
}
