#back {
	margin-top: 1%;
	margin-left: 2%;
	color:#a463a7;
	padding: 10px;
}
#indiv-feature-container {
	background-image: url("https://wallpaper.dog/large/10751561.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: scroll;
	height: calc(100% - 72px);
}
#feature-name {
	text-align: center;
	font-size: 46px;
	font-family: fantasy;
	font-weight: 100;
	color: #8b0000;
}
#individual-feature {
	padding: 10px;
	padding: 30px;
	margin-top: 3%;
    background-color: #BDA678;
    border-radius: 30px;
    opacity: .90;
	color: #8b0000;
	width: 80vw;
	text-align: center;
	font-size: 1.7em;
	margin-left: 9vw;
}
