#class-info {
	background-image: url("https://wallpapercave.com/wp/Hk2qQpV.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: scroll;
	height: calc(100% - 72px);
}
#class-info div {
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 10px;
	text-align: center;
}
#class-info Link {
	color: rgb(209, 178, 178);
}
#back {
	margin-left: 2vw;
	margin-bottom: 30px;
}

/* OLD GLOBAL STYLES. DO NOT USE! */
/* #class-info h1,
h2,
h3,
h4,
p {
  color: rgb(209, 178, 178);
  font-family: fantasy;
  font-weight: 90;
} */

/* FIX GLOBAL H TAG STYLES */
.fix-h1-h2-h3-h4 {
	color: rgb(209, 178, 178);
	font-family: fantasy;
	font-weight: 90;
}

#class-name {
	text-align: center;
	font-size: 4em;
	background-color: #587e80;
	opacity: 90%;
	margin: 0;
	font-weight: 90;
}
#hit-die {
	text-align: center;
	font-size: 2em;
	color: rgb(209, 178, 178);
	background-color: #587e80;
	opacity: 90%;
	text-decoration: none;
	margin-top: 30px;
	margin: 0;
	font-weight: 90;
}
#class-etc {
	text-align: center;
	font-size: 1em;
	color: #8b0000;
	/* background-color: #587e80;
	opacity: 90%; */
	text-decoration: none;
	display: inline-flex;
	margin-left: 32vw;
	font-weight: 90;
}

.p_choices {
	float: left;
  background-color: #587e80;
  border-radius: 30px;
	opacity: 90%;
	width: 95vw;
	margin-right: 10px;
	text-align: center;
	margin: 1%;
	padding: 1%;
	font-size: 1.3em;
	font-weight: 90;
}
#p-choices {
	display: inline-flex;
	padding: 15px;
	margin: 0;
	font-weight: 90;
}
/* .all-p-choices{
    display: inline-flex;
} */
.proficiencies {
	float: left;
  background-color: #587e80;
  border-radius: 30px;
	opacity: 90%;
	width: 95vw;
	text-align: center;
	margin: 1%;
	padding: 1%;
	font-size: 1.3em;
	font-weight: 90;
}
#profs {
	display: inline-flex;
	font-weight: 90;
}
.saving-throws {
	float: left;
  background-color: #587e80;
  border-radius: 30px;
	opacity: 90%;
	width: 95vw;
	text-align: center;
	margin: 1%;
	padding: 1%;
	font-size: 1.3em;
	font-weight: 90;
}
#saving-throws-container {
	display: inline-flex;
	column-gap: 50px;
	font-weight: 90;
}
.subclasses {
	float: left;
  background-color: #587e80;
  border-radius: 30px;
	opacity: 90%;
	width: 95vw;
	text-align: center;
	margin: 1%;
	padding: 1%;
	font-size: 1.3em;
	font-weight: 90;
}
.spellcasting {
	float: left;
  background-color: #587e80;
  border-radius: 30px;
	opacity: 90%;
	width: 95vw;
	text-align: center;
	font-weight: 90;
	margin: 1%;
	padding: 1%;
  color: rgb(209, 178, 178);
  margin-bottom: 5%;
}
.spellcasting h2 {
	font-size: 2em;
	font-weight: 90;
}
#spell-cast h3 {
	font-size: 1.6em;
	font-weight: 90;
}
#spell-cast p {
	font-size: 1.3em;
	font-weight: 90;
}
.fix-h1-h2-h3-h4-name {
	color: rgb(209, 178, 178);
	padding: 10px;
	font-family: fantasy;
	font-weight: 100;
}
