#back{
    margin-top: 1%;
    margin-left: 2%;
    color: rgb(209, 178, 178);
}
#feature-name{
    text-align: center;
    font-size: 46px;
    font-family: fantasy;
    font-weight: 100;
    color: rgb(209, 178, 178);
}
#individual-feature{
    padding: 10px;
    margin-top: 3%;
    border: 3px solid #8b0000;
    color: rgb(209, 178, 178);
    width: 95vw;
    text-align: center;
    font-size: 1.7em;
    margin-left: 1.8%;
}