#idiv-equip-contain{
    background-image: url("https://images.wallpapersden.com/image/download/giant-mountain-monster-in-forest_a2VpbGyUmZqaraWkpJRnamhmrWZrZWU.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: scroll;
	height: calc(100% - 72px);
}
#back{
    margin-left: 2%;
}
#equipmentclass{
    text-align: center;
    font-size: 46px;
    font-family: fantasy;
    font-weight: 100;
    color:  rgb(224, 171, 55);
}
#individual-equipment-container{
    margin-top: 8%;
    background-color: #215C2A;
    opacity: .9;
    width: 50vw;
    color: rgb(224, 171, 55);
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-size: 1.7em;
    margin-left: 24vw;
    padding: 50px;
}
#start-equip-name{
    color: rgb(224, 171, 55);
}