/* .nav-item {
	margin-left: 50px;
	margin-right: 50px;
} */
/* .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
 */

.dropdown {
  display: inline;
}

/* .dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
 */
.navbar {
  background-color: #161616;
  padding: 4px;
  font-family: fantasy;
  font-size: 20px;
}

.navbar a {
  padding: 10px 70px;
  text-decoration: none;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  width: 100px;
  background-color: #8b0000;
  color: white;
}

/* .dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* .dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
 */
.dropdown-content a:hover {
  background-color: #8b0000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  background-color: #161616;
  color: white;
  padding: 15px;
  min-width: 160px;
  font-size: 16px;
  font-size: 20px;
  border: none;
  float: inline-end;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: #8b0000;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar li {
  list-style: none;
  display: inline;
  margin-right: 2vw;
}
