/* .nav-item {
	margin-left: 50px;
	margin-right: 50px;
} */
/* .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
 */

.dropdown {
  display: inline;
}

/* .dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
 */
.navbar {
  background-color: #161616;
  padding: 4px;
  font-family: fantasy;
  font-size: 20px;
  /* width: 100vw; THIS BREAKS THINGS, DONT DO THIS! SPENT AN HOUR FINDING THIS*/
  /* height: 9vh; */
}

.navbar a {
  /* padding: 10px 70px; */
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  width: 100px;
  background-color: #8b0000;
  color: rgb(150, 120, 120);
}

/* .dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* .dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
 */
.dropdown-content a:hover {
  background-color: #8b0000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  background-color: #161616;
  color: rgb(209, 178, 178);
  padding: 15px;
  min-width: 160px;
  font-size: 16px;
  font-size: 20px;
  border: none;
  float: inline-end;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 86%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 5px;
  outline: none;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: azure;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar li {
  list-style: none;
  display: inline;
  margin-right: 1vw;
}
