.root-race-container {
  background-color: #ecf0f1;
}

.clear-float {
  clear: both;
}

.race-preview-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.race-preview {
  display: inline-block;
  width: 30.8%;
  margin: 17px;
}

.race-preview a {
  text-decoration: none;
  color: #ecf0f1;

  display: block;
  width: 320px;
  height: 50px;
  line-height: 50px;
  background-color: #8b0000;

  border-radius: 11px;

  position: relative;
  bottom: 135px;
  left: 60px;

  font-family: fantasy;
  font-size: 30px;
}

.race-preview a:hover {
  color: #f39c12;
  background-color: #161616;
}

.races-title h1 {
  margin: 0;
}

.races-title {
  border-top: 8px solid #8b0000;

  font-family: fantasy;
  font-size: 50px;
  color: #f39c12;

  background-color: #111111;
}
